<section class="fixed-vertical flex flex-column" style="width: 220px;background-color: #ca3f2f">
  <logo>
    {{#link-to 'index'}}
      {{ic-canvas-logo fill-color="#fff"}}
    {{/link-to}}
  </logo>
  <nav class="component-menu" style="overflow-y: scroll;">
    <components style="display: block;">
      {{#each}}
        {{#link-to 'ic-components.component' this.slug tagName='component'}}
          &#123;&#123;{{name}}&#125;&#125;
        {{/link-to}}
      {{/each}}
    </components>           
  </nav>
</section>
<article class="fixed-vertical" style="right: 0; left: 220px; padding: 24px;">
  {{outlet component}}
</article>