<div>
  <front-menu class="flex fixed-vertical fixed-horizontal flex-row">
    {{#link-to 'index' tagName="front-menu-item"}}/api/v1{{/link-to}}
    {{#link-to 'ic-components' tagName="front-menu-item"}}&#123;&#123;ic-components&#125;&#125;{{/link-to}}
  </front-menu>

{{!--   <logo style="width: 100%;">
    {{#link-to 'index'}}
      {{ic-logo}}
    {{/link-to}}
  </logo> --}}
</div>
